<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SampleTests">
    <listeners>
        <listener class-name="com.app.extentreports.TestListener" />
    </listeners>
    <test name="Sanity">
        <classes>
<!--            <class name="com.app.logger.FirstClass"></class>-->
<!--            <class name="com.app.jiraApp.BaseTest"></class>-->
            <class name="com.app.reportLogs.tests.BrowserLogsTestClass"></class>
        </classes>
    </test>
</suite>